.card{
    border:1px solid #ddd;
    padding:20px;
    margin-bottom:15px;
    border-radius:10px;
}

button{
    background:#0082be;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}