.card{
    border:1px solid #ddd;
    padding:20px;
    margin-bottom:15px;
    border-radius:10px;
}

button{
    background:#0082be;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.pipeline{
    display:flex;
    justify-content:space-between;
    margin-top:40px;
}

.fase{
    width:120px;
    height:120px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;
    font-size:14px;
    color:white;
}

.concluida{
    background:#0082be;
}

.atual{
    background:#8ed05d;
}

.futura{
    background:#d9d9d9;
    color:black;
}